  {{>header}}
  <link rel="stylesheet" href="style.css">
  <style>

    .center {
    margin: auto;
    margin-top: 100px;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  input,button{
    margin-left: 30%;
  }
  </style>
  <div class="center">
  <form method="post">
    <!-- Email input -->
    <div class="form-outline mb-4" class="active">
      <input type="email" id="form2Example1" class="form-control" name="email" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div><br>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" name="password" />
      <label class="form-label" for="form2Example2">Password</label>
    </div><br>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
    </div>
    </div>
 <!-- Submit button -->
  <button type="Register" class="btn btn-primary btn-lg">login</button>
  <div class="text-center">
      <p>Not a member? <a href="/">Register</a></p>
    
    </div>
    </div>
  </form>